<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tickit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Activities.GlobalVariables"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/sisc_logo250"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sisc_logo250"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AddProject"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".Activities.AddMemberProject" />
        <activity
            android:name=".PopUps.AddStrategyPopUp"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".Activities.AddEdition" />
        <activity
            android:name=".PopUps.MembersProgressPopUp"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".Activities.TaskProfile" />
        <activity android:name=".Activities.AddTask" />
        <activity
            android:name=".PopUps.AddMemberChoicePopUp"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".Activities.EditionProfile" />
        <activity android:name=".Activities.ProjectProfile" />
        <activity
            android:name=".PopUps.HistoryPopUp"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".Activities.Profile" />
        <activity android:name=".Activities.FragmentsContainer" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopUps.EditPopUp"
            android:theme="@style/AppTheme.PopUpTheme" />
    </application>

</manifest>